html{
    height: 100%;
    box-sizing: border-box;
}
body{
    margin-top: 60px;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}
.container{
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}
.container .footer-text{
    margin: 20px 0;
}
.badge{
    background-color: #4b74fa;
    color: #fff;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #222;
    color: #fff;
}
button.link{
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  outline-offset: 0;
  color: #fff;  
}